---
interface Props {
  title: string;
  describe: string;
  hrefImg: string;
}

const { hrefImg, title, describe } = Astro.props;
---

<div class="row">
  <img src={hrefImg} />
  <div class="layer">
    <h5>{title}</h5>
    <p>{describe}</p>
    <a href="#"><i class="bx bx-link-external"></i></a>
  </div>
</div>
<style>
  .layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #ff004f);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
  }

  .layer h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .layer p {
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
  }

  .layer i {
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .row:hover .layer {
    height: 100%;
  }
</style>
