---
import Card from "./Card.astro";
---

<div class="main-text">
  <p>Portfolio</p>
  <h2><span>Latest</span> Project</h2>
</div>
<div class="portfolio-content">
  <Card
    hrefImg="img/portfolio1.jpg"
    title="your title"
    describe="your describe"
  />
  <Card
    hrefImg="img/portfolio1.jpg"
    title="your title"
    describe="your describe"
  />
</div>