---
import HomeCv from "../components/Cv/homeCv.astro";
import Head from "../components/html/head.html";
import Script from "../components/html/script.html";
//  bootstrap css
import "../styles/Cv/plugins/bootstrap.min.css";
// font awesome css
import "../styles/Cv/plugins/font-awesome.min.css";
// fancybox css
import "../styles/Cv/plugins/fancybox.min.css";
// main css
import "../styles/Cv/style.css";
--- 
<!doctype html>
<html lang="zxx">
  <head>
    <Head />
    <title>Arter</title>
    </head>
  <body>
    <HomeCv />
    <Script />
  </body>
</html>